<!DOCTYPE html>
<html ng-app="mtApp" ng-controller="MainController as mainCtrl">

<head>
  <title ng-bind="mainCtrl.getTitle()">ModTwitch by CBenni</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="theme-light">
  <div class="wrapper layout-container" id="layout-container"></div>
  <div class="whisper-container" ng-if="mainCtrl.auth" layout="row" layout-align="end end">
    <div ng-repeat="conversation in mainCtrl.conversations"
    class="whisper-conversation md-whiteframe-2dp" ng-class="{'collapse':conversation.collapse}"
    layout="column" layout-align="start stretch">
      <div class="whisper-header" flex="none" ng-click="conversation.collapse = !conversation.collapse" layout="row" layout-align="space-between center">
        <span flex="none">{{conversation.user.displayName}}</span>
        <md-button class="tiny-button" flex="none" ng-click="mainCtrl.closeConversation($event, conversation)">
          <md-icon md-svg-src="/assets/close.svg"></md-icon>
        </md-button>
      </div>
      <div class="whisper-body-wrapper" layout="column" layout-align="start stretch" flex="100" ng-show="!conversation.collapse">
          <div class="whisper-body" layout="column" layout-align="end start" flex="none">
              <div ng-repeat="line in conversation.lines" chat-line flex="none"></div>
          </div>
      </div>
      <input type="text" ng-model="conversation.whisperText" ng-keyup="mainCtrl.sendWhisper($event, conversation)" flex="none" ng-show="!conversation.collapse">
    </div>
    <div class="whisper-menu">
      <img src="/assets/chat.svg">
    </div>
  </div>
</body>

</html>
