<ul ui-sortable="{handle: '.drag-handle'}" ng-model="btnsCtrl.buttons">
  <li ng-repeat="button in btnsCtrl.buttons" layout="row" class="settings-mod-button md-whiteframe-2dp">
    <div flex="none" layout="column">
      <div flex="none" class="drag-handle">
        <md-icon>reorder</md-icon>
      </div>
      <div flex="none">
        <md-button class="compact" throttled-click="btnsCtrl.deleteButton(button)">
          <md-icon>delete</md-icon>
        </md-button>
      </div>
    </div>
    <div flex layout="row" layout-wrap>
      <div flex="15" class="settings-mod-button-setting-very-simple">
        <md-input-container class="text-input">
          <input type="text" ng-model="button.tooltip" placeholder="Button name">
        </md-input-container>
      </div>
      <div flex="25" layout="row" class="settings-mod-button-setting-complex">
        <md-input-container flex class="dropdown">
          <label>Icon type</label>
          <md-select name="style" class="compact md-no-underline" ng-model="button.icon.type" placeholder="Icon type">
            <md-option value="icon">Icon</md-option>
            <md-option value="text">Text</md-option>
            <md-option value="image">Custom image</md-option>
          </md-select>
        </md-input-container>
        <div flex="none">
          <div ng-if="button.icon.type === 'icon'">
            <!--<md-input-container class="text-input">
              <input type="text" ng-model="button.icon.code" placeholder="Icon code">
            </md-input-container>-->
            <md-select ng-model="button.icon.code" md-container-class="icon-code-select">
              <md-option ng-repeat="iconCode in btnsCtrl.iconCodes" ng-value="iconCode">
                <md-icon>
                  {{iconCode}}
                </md-icon>
              </md-option>
            </md-select>
          </div>
          <div ng-if="button.icon.type === 'text'">
            <md-input-container class="text-input">
              <input type="text" ng-model="button.icon.text" placeholder="Button text">
            </md-input-container>
          </div>
          <div ng-if="button.icon.type === 'image'">
            <md-input-container class="text-input">
              <input type="text" ng-model="button.icon.image" placeholder="Image url">
            </md-input-container>
          </div>
        </div>
      </div>
      <div flex="25" layout="row" class="settings-mod-button-setting-complex">
        <md-input-container class="dropdown md-no-underline">
          <label>Action</label>
          <md-select name="style" class="compact md-no-underline" ng-model="button.action.type" placeholder="Action">
            <md-option value="command">Command</md-option>
            <md-option value="whisper">Open whispers</md-option>
            <md-option value="url">Open url</md-option>
            <md-option value="custom">Custom</md-option>
          </md-select>
        </md-input-container>
        <div flex>
          <div ng-if="button.action.type === 'command'">
            <md-input-container class="text-input">
              <input type="text" ng-model="button.action.command" placeholder="Command">
            </md-input-container>
          </div>
          <div ng-if="button.action.type === 'url'">
            <md-input-container class="text-input">
              <input type="text" ng-model="button.action.url" placeholder="Url">
            </md-input-container>
          </div>
          <div ng-if="button.action.type === 'custom'">
            <md-input-container class="text-input">
              <input type="text" ng-model="button.action.custom" placeholder="Custom action">
            </md-input-container>
          </div>
        </div>
      </div>
      <div flex="10" layout="row" class="settings-mod-button-setting-very-simple">
        <md-input-container class="dropdown md-no-underline">
          <label>Show button</label>
          <md-select name="style" class="compact md-no-underline" ng-model="button.show" placeholder="Show button">
            <md-option value="always">always</md-option>
            <md-option value="bannable">when bannable</md-option>
            <md-option value="mod">when mod</md-option>
            <md-option value="never">never</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div flex="10" layout="row" class="settings-mod-button-setting-very-simple">
        <md-input-container class="text-input" flex>
          <input type="text" ng-model="button.hotkey" placeholder="Hotkey" throttled-keydown="btnsCtrl.setHotkey(button, $event)">
        </md-input-container>
        <md-input-container flex="none">
          <md-button class="md-icon-button md-primary" throttled-click="btnsCtrl.setHotkey(button, null)" >
            <md-icon>close</md-icon>
          </md-button>
        </md-input-container>
      </div>
    </div>
  </li>
</ul>
<md-button class="md-primary md-raised" throttled-click="btnsCtrl.addButton()">Add</md-button>
