<div ng-controller="ChatController as chatCtrl" class="wrapper">
  <iframe ng-src="{{chatCtrl.getEmbedUrl()}}" frameborder="0" allowfullscreen="true" scrolling="no" ng-if="!mainCtrl.auth"></iframe>
  <div ng-if="mainCtrl.auth" class="chat-wrapper wrapper" layout="column">
    <div class="chat-header" flex="none" layout="row" layout-align="space-between center">
      <div>
        Ham
      </div>
      <div>
        {{chatCtrl.channel}}
      </div>
      <div>
        status
      </div>
    </div>
    <div class="chat-container" flex="100">
      <div class="chat-lines" layout="column" layout-align="end stretch">
        <div class="chat-line" ng-repeat="line in chatCtrl.lines">
        </div>
      </div>
    </div>
    <div class="chat-input-box">
      <textarea class="chat-input" ng-keydown="chatCtrl.chatInputKeyPress($event)" ng-model="chatCtrl.chatInputContent" rows=1></textarea>
    </div>
  </div>
</div>
