<div ng-controller="HomeController as homeCtrl" layout="column" layout-align="start stretch" class="wrapper">
  <div class="home-controls" layout="row" flex="none">
    <div class="login-button" flex="none">
      <md-button class="loginWithTwitch md-primary md-raised" ng-click="mainCtrl.loginWithTwitch()" ng-if="!mainCtrl.auth">
        Log in with twitch
      </md-button>
      <md-button class="loginWithTwitch md-primary md-raised" ng-click="mainCtrl.logoutFromTwitch()" ng-if="mainCtrl.auth">
        Log out ({{mainCtrl.auth.name}})
      </md-button>
    </div>
    <div flex="none" layout="row" layout-align="space-between center">
      <!-- <span>Profile:</span>
      <md-select class="compact md-no-underline" ng-model="mainCtrl.selectedProfile" ng-change="mainCtrl.updateConfig()">
        <md-option ng-repeat="(id, profile) in mainCtrl.layouts" ng-value="id">{{profile.name}}</md-option>
      </md-select> -->
      <md-button class="md-primary md-icon-button" ng-click="homeCtrl.openSettings($event)">
        <md-icon>settings</md-icon>
      </md-button>
    </div>
  </div>
  <md-input-container flex="none" class="no-error-spacer no-global-hotkeys">
    <input type="text" placeholder="Search..." ng-model="homeCtrl.streamSearchText" ng-change="homeCtrl.getSearchedStreams()">
  </md-input-container>

  <md-tabs flex="100" md-selected="homeCtrl.selectedStreamsTab" class="md-dark-theme">
      <md-tab label="Top" ng-disabled="!homeCtrl.globalStreams">
        <md-tab-content>
          <div stream-list="homeCtrl.globalStreams"></div>
        </md-tab-content>
      </md-tab>
      <md-tab label="Followed" ng-disabled="!homeCtrl.followedStreams">
        <md-tab-content>
          <div stream-list="homeCtrl.followedStreams"></div>
        </md-tab-content>
      </md-tab>
      <md-tab label="Search" ng-disabled="!homeCtrl.searchedStreams">
        <md-tab-content>
          <div stream-list="homeCtrl.searchedStreams"></div>
        </md-tab-content>
      </md-tab>
      <md-tab ng-disabled="true">
        <md-tab-label>
          Channels I mod (soon™)
        </md-tab-label>
      </md-tab>
  </md-tabs>
</div>
