<md-dialog class="settings-dialog no-global-hotkeys">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row">
        <h2 flex="none">Settings</h2>
        <span flex></span>
        <md-button class="md-icon-button" throttled-click="cancel()" flex="none">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content class="settings-dialog-content">
      <div class="md-dialog-content">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Appearance">
            <md-content class="md-padding">
              <div class="settings-column" flex layout="row" layout-wrap>
                <div class="settings-row" layout="row" layout-align="start center" flex="50">
                  <label for="style" flex="none">Style</label>
                  <div>
                    <md-select name="style" class="compact md-no-underline" ng-model="settings.style">
                      <md-option value="dark">dark mode</md-option>
                      <md-option value="light">light mode</md-option>
                    </md-select>
                  </div>
                </div>
                <div class="settings-row" layout="row" layout-align="start center" flex="50">
                  <label for="style" flex="none">Custom style sheet</label>
                  <div flex>
                    <md-input-container class="compact no-error-spacer">
                      <input type="text" ng-model="settings.styleSheet" placeholder="style sheet url">
                    </md-input-container>
                  </div>
                </div>
                <div class="settings-row" layout="row" layout-align="start center" flex="50">
                  <label for="color-adjustment" flex="none">Color correction</label>
                  <div>
                    <md-select name="color-adjustment" class="compact md-no-underline" ng-model="settings.colorAdjustment">
                      <md-option value="none">No correction</md-option>
                      <md-option value="mono">Monochromatic</md-option>
                      <md-option value="hsl">HSL correction</md-option>
                    </md-select>
                    <div ng-if="settings.colorAdjustment === 'mono'">
                      <md-input-container>
                        <input type="text" ng-model="settings.monoColor" placeholder="style sheet url">
                      </md-input-container>
                    </div>
                  </div>
                </div>
                <!-- <div class="settings-row" layout="row" layout-align="start center" flex="50">

                </div> -->
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Chat">
            <md-content class="md-padding">
              <div class="settings-column" flex layout="row" layout-wrap>
                <div class="settings-row" layout="row" layout-align="start center" flex="50">
                  <label for="pauseOn" flex="none">Pause chat on...</label>
                  <div>
                    <md-select name="pauseOn" class="compact md-no-underline" ng-model="settings.chatSettings.pauseOn" multiple="">
                      <md-option value="hover">hover</md-option>
                      <md-option value="hotkey">in-line hotkey</md-option>
                      <md-option value="ControlLeft">ctrl</md-option>
                      <md-option value="AltLeft">alt</md-option>
                      <md-option value="ShiftLeft">shift</md-option>
                      <md-option value="ControlRight">right ctrl</md-option>
                      <md-option value="AltRight">right alt</md-option>
                      <md-option value="ShiftRight">right shift</md-option>
                    </md-select>
                  </div>
                </div>
                <div class="settings-row" layout="row" layout-align="start center" flex="100">
                  <label for="knownBots" flex="none">Known bots</label>
                  <div flex="100">
                    <md-chips ng-model="settings.chatSettings.knownBots"></md-chips>
                  </div>
                </div>
                <div class="settings-row" layout="row" layout-align="start center" flex="100">
                  <label for="extraMentions" flex="none">Extra mentions</label>
                  <div flex="100">
                    <md-chips ng-model="settings.chatSettings.extraMentions"></md-chips>
                  </div>
                </div>
              </div>
              <div class="settings-row" layout="row" layout-align="start center" flex="50">
                <label for="timeFormat" flex="none">Timestamp format</label>
                <md-input-container>
                  <input type="text" name="timeFormat" ng-model="settings.timeFormat">
                </md-input-container>
              </div>
              <div class="settings-row" layout="row" layout-align="start center" flex="50">
                <label for="scrollbackLength" flex="none">Scrollback length</label>
                <md-input-container>
                  <input type="number" name="scrollbackLength" ng-model="settings.scrollbackLength">
                </md-input-container>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="In-line mod icons">
            <md-content class="md-padding">
              <button-settings buttons="settings.modButtons" default-button="defaultButton"></button-settings>
            </md-content>
          </md-tab>
          <md-tab label="Mod Card icons">
            <md-content class="md-padding">
              <button-settings buttons="settings.modCardButtons" default-button="defaultButton"></button-settings>
            </md-content>
          </md-tab>
          <md-tab label="Chat header buttons">
            <md-content class="md-padding">
              <button-settings buttons="settings.chatHeaderButtons" default-button="defaultChatHeaderButton"></button-settings>
            </md-content>
          </md-tab>
          <md-tab label="Chat presets">
            <md-content class="md-padding">
              <ul ui-sortable="{handle: '> .drag-handle'}" ng-model="settings.chatPresets">
                <li ng-repeat="preset in settings.chatPresets" layout="row" class="settings-mod-button md-whiteframe-2dp">
                  <div flex="none" layout="column">
                    <div flex="none" class="drag-handle">
                      <md-icon>reorder</md-icon>
                    </div>
                    <div flex="none">
                      <md-button class="compact" throttled-click="dialogCtrl.deleteChatPreset(preset)">
                        <md-icon>delete</md-icon>
                      </md-button>
                    </div>
                  </div>
                  <div flex layout="row" layout-wrap>
                    <div flex="15" class="settings-mod-button-setting-very-simple">
                      <md-input-container class="text-input">
                        <input type="text" ng-model="preset.name" placeholder="Preset name">
                      </md-input-container>
                    </div>
                    <div flex="20" layout="row" class="settings-mod-button-setting-complex">
                      <md-input-container flex class="dropdown">
                        <label>Icon type</label>
                        <md-select name="style" class="compact md-no-underline" ng-model="preset.icon.type" placeholder="Icon type">
                          <md-option value="icon">Icon</md-option>
                          <md-option value="text">Text</md-option>
                          <md-option value="image">Custom image</md-option>
                        </md-select>
                      </md-input-container>
                      <div flex="none">
                        <div ng-if="preset.icon.type === 'icon'">
                          <!--<md-input-container class="text-input">
                            <input type="text" ng-model="preset.icon.code" placeholder="Icon code">
                          </md-input-container>-->
                          <md-select ng-model="preset.icon.code" md-container-class="icon-code-select">
                            <md-option ng-repeat="iconCode in dialogCtrl.iconCodes" ng-value="iconCode">
                              <md-icon>
                                {{iconCode}}
                              </md-icon>
                            </md-option>
                          </md-select>
                        </div>
                        <div ng-if="preset.icon.type === 'text'">
                          <md-input-container class="text-input">
                            <input type="text" ng-model="preset.icon.text" placeholder="Button text">
                          </md-input-container>
                        </div>
                        <div ng-if="preset.icon.type === 'image'">
                          <md-input-container class="text-input">
                            <input type="text" ng-model="preset.icon.image" placeholder="Image url">
                          </md-input-container>
                        </div>
                      </div>
                    </div>
                    <div flex="25" layout="row" class="settings-mod-button-setting-complex">
                      <md-input-container class="md-no-underline">
                        <label>Show messages containing...</label>
                        <md-select name="style" class="compact md-no-underline" ng-model="preset.settings.messageFilters" placeholder="Filters" multiple="">
                          <md-option value="chat">Chat</md-option>
                          <md-option value="bots">Bots</md-option>
                          <md-option value="mentions">Mentions</md-option>
                          <md-option value="modlogs">Modlogs</md-option>
                          <md-option value="automod">Automod</md-option>
                          <md-option value="bits">Bits</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <!-- <div flex="15" layout="row" class="settings-mod-button-setting-very-simple">
                      <md-switch ng-model="preset.settings.incognito" class="md-invert">Incognito</md-switch>
                    </div>-->
                    <div flex="15" layout="row" class="settings-mod-button-setting-very-simple">
                      <md-switch ng-model="preset.settings.hideChatInput" class="md-invert">Hide chat input</md-switch>
                    </div>
                  </div>
                </li>
              </ul>
              <md-button class="md-primary md-raised" throttled-click="dialogCtrl.addChatPreset()">Add</md-button>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
