.chat-line-wrapper {
  padding: 4px 2px;

  .chat-line-time {
    color: rgba(0, 0, 0, 0.7);
    font-size: small;
  }

  .emote {
    height: 2em;
  }

  img.emote {
    vertical-align: middle;
    margin: -1em 0 -1em 0;
  }

  img.chat-line-badge {
    vertical-align: text-bottom;
    margin: 0 1px 0 0;
  }

  .chat-line-username {
    cursor: pointer;
  }

  .chat-line-text {
    word-break: break-word;
  }
}

.chat-container {
  overflow-y: scroll;
  background-color: $page-body;
  justify-content: end;
}

.chat-input-box {
  height: 4em;

  .chat-paused-indicator {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 2px;
    cursor: pointer;
  }

  textarea {
    width: 100%;
    height: 100%;
    border: 0px none;
    resize: none;
    background-color: $widget-body;
  }
}

.chat-line-mod-button {
  line-height: initial;
  cursor: pointer;

  span.chat-line-mod-button-label {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: none;
    vertical-align: middle;
    color: rgba(0,0,0,0.54);
  }

  img.chat-line-mod-button-label {
    margin: -0.75px 0;
    max-height: 1.5em;
    vertical-align: middle;
  }

  md-icon.material-icons {
    font-weight: bold;
  }
}

.chat-status-indicators .chat-status-indicator {
  padding: 0 8px;
}
