.chat-line-wrapper {
  padding: 4px 2px;

  &.chat-line-deleted {
    opacity: .5;

    .chat-line-text {
      text-decoration: line-through;
    }
  }

  &.action-msg {
    .chat-line-username, .chat-line-text {
      font-style: italic;
    }

    .chat-line-colon {
      display: none;
    }
  }

  &.system-msg {
    .chat-line-mod-buttons, .chat-line-username, .chat-line-colon {
      display: none;
    }
  }

  &.usernotice-msg {
    background-color: hsla(0,0%,50%,.1);
    border-left: 4px solid #6441a4;
  }

  &.timeout-msg, &.timeout-msg .chat-line-time {
    color: #838383;
  }

  &.automod-msg {
    background-color: #d0d0d0;
    border-left: 4px solid #ec1313;
  }

  &.mention {
    background-color: rgba(255,0,0,0.3);
  }

  .chat-line-time {
    color: rgba(0, 0, 0, 0.7);
    font-size: small;
  }


  img.emote {
    vertical-align: middle;
    margin: -1em 0 -1em 0;
  }

  img.chat-line-badge {
    vertical-align: text-bottom;
    margin: 0 1px 0 0;
  }

  .chat-line-username {
    cursor: pointer;
  }

  .chat-line-text {
    word-break: break-word;
  }
}

.emote {
  max-height: 1.75em;
}

.chat-container {
  overflow-y: scroll;
  background-color: $page-body;
  justify-content: end;

}

.chat-settings-menu {
  position: absolute;
  background-color: $widget-body;
  z-index: 70;
  padding: 8px;
  top: 40px;
  width: 350px
}

.chat-paused-indicator {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  padding: 2px;
  cursor: pointer;
}

.chat-input-box {
  min-height: 20px;


  textarea {
    width: 100%;
    height: 4em;
    border: 0px none;
    resize: none;
    background-color: $widget-body;
  }
}

.chat-header-button {
  img {
    height: 32px;
  }
}

.chat-line-mod-button {
  line-height: initial;
  cursor: pointer;

  span.chat-line-mod-button-label {
    font-weight: bold;
    text-transform: none;
    vertical-align: middle;
    color: rgba(0,0,0,0.54);
  }

  img.chat-line-mod-button-label {
    margin: -0.75px 0;
    max-height: 1.5em;
    vertical-align: middle;
  }

  md-icon.material-icons {
    height: 19px;
    font-size: 19px;
    min-height: 19px;
    min-width: 19px;
    width: 19px;
  }

  &.automod-approve md-icon {
    color: #0dbf2a;
  }

  &.automod-deny md-icon {
    color: #ec1313;
  }
}

.chat-status-indicators .chat-status-indicator {
  padding: 0 8px;
}

.large-tooltip {
  max-height: none;
  overflow: visible;
  height: auto;
  transform: translateY(-100%);
}

.emote-menu-button {
  position: absolute;
  bottom: 30px;
  right: 0;
}

.emote-menu {
  position: absolute;
  bottom: 4em;
  right: 0;
  height: 50%;
  width: 50%;
  z-index: 65;
  background-color: $widget-body;

  .emote {
    cursor: pointer;
  }

  .emote-menu-list {
    overflow-y: auto;
  }
}

.md-panel.autocomplete-panel {
  width: 300px;
  height: 20px;
  position: relative;
  overflow: visible;

  .autocomplete-panel-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $widget-body;

    .autocomplete-selected {
      background-color: #7d5bbe;
      color: white;
    }

    img {
      max-height: 32px;
      margin-right: 6px;
    }
  }
}
