.whisper-container {
  .whisper-conversation {
    .whisper-header {
      background-color: $widget-header-dark;
    }

    .whisper-body-wrapper {
      background-color: $page-body-dark;
    }

    .whisper-input-field {
      background-color: $widget-body-dark;
      color: $text-color-dark;
    }
  }
}

.lm_content {
  background-color: $page-body-dark;
}

.lm_goldenlayout, .lm_splitter {
  background-color: $splitter-body-dark;
}

.chat-container {
  overflow-y: scroll;
  background-color: $page-body-dark;


  .chat-line-mod-button-label {
    color: $text-color-dark;
  }
}

.chat-settings-menu {
  background-color: $widget-body-dark;
}

.chat-input-box {
  textarea {
    background-color: $widget-body-dark;
    color: $text-color-dark;
  }
}

.stream-list .stream-list-item .stream-add-buttons .stream-add-button {
  background-color: $widget-body-dark;
  md-icon {
    color: $text-color-dark;
  }
}

&, .chat-line-wrapper .chat-line-time, .whisper-lines-wrapper .chat-line-time {
  color: $text-color-dark;
}
.chat-line-wrapper {
  &.timeout-msg {
    .chat-line-time, md-icon.md-dark-theme {
      color: #838383;
    }
  }

  &.automod-msg {
    background-color: #262626;
  }
}


.md-button.md-default-theme.md-primary:not([disabled]) md-icon,
.md-button.md-primary:not([disabled]) md-icon,
md-select.md-default-theme .md-select-icon,
md-select .md-select-icon,
.md-button.md-dark-theme.md-primary.md-fab, .md-button.md-dark-theme.md-primary.md-raised,
.md-button.md-dark-theme.md-primary {
  color: $text-color-dark;
}

md-tabs.md-dark-theme .md-tab.md-active, md-tabs.md-dark-theme .md-tab.md-active md-icon, md-tabs.md-dark-theme .md-tab.md-focused, md-tabs.md-dark-theme .md-tab.md-focused md-icon,
md-input-container.md-input-focused label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder, md-input-container.md-default-theme label, md-input-container label,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label
{
  color: $text-color-dark;
}

md-input-container.md-default-theme .md-input, md-input-container .md-input {
  border-color: $text-color-dark;
  color: $text-color-dark;
}

.mod-card {
  .mod-card-header {
    background-color: $widget-header-dark;
  }
  .mod-card-body {
    background-color: $widget-body-dark;
  }
}

md-switch.md-dark-theme.md-checked .md-bar {
  background-color: rgb(158,158,158);
}

md-switch.md-dark-theme.md-checked .md-thumb {
  background-color: rgb(255,64,129);
}

.emote-menu {
  background-color: $widget-body-dark;
}

.md-panel.autocomplete-panel {
  .autocomplete-panel-content {
    background-color: $widget-body-dark;
  }
}

md-sidenav {
  background-color: $widget-body-dark;
}

md-menu-content.md-dark-theme {
  background-color: $widget-body-dark;

  md-menu-item {
    color: $text-color-dark;
  }
}
