.whisper-container {
  .whisper-conversation {
    .whisper-header {
      background-color: $widget-body-dark;
    }
  }
}

.lm_content {
  background-color: $page-body-dark;
}

.lm_goldenlayout, .lm_splitter {
  background-color: $splitter-body-dark;
}

.chat-container {
  overflow-y: scroll;
  background-color: $page-body-dark;

  .chat-line-mod-button-label {
    color: $text-color-dark;
  }
}

.chat-input-box {
  textarea {
    background-color: $widget-body-dark;
    color: $text-color-dark;
  }
}

.stream-list .stream-list-item .stream-add-buttons .stream-add-button {
  background-color: $widget-body-dark;
  md-icon {
    color: $text-color-dark;
  }
}

&, .chat-line-wrapper .chat-line-time{
  color: $text-color-dark;
}

.md-button.md-default-theme.md-primary:not([disabled]) md-icon,
.md-button.md-primary:not([disabled]) md-icon,
md-select.md-default-theme .md-select-icon,
md-select .md-select-icon {
  color: $text-color-dark;
}

md-tabs.md-dark-theme .md-tab.md-active, md-tabs.md-dark-theme .md-tab.md-active md-icon, md-tabs.md-dark-theme .md-tab.md-focused, md-tabs.md-dark-theme .md-tab.md-focused md-icon,
md-input-container.md-input-focused label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder, md-input-container.md-default-theme label, md-input-container label,
md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label
{
  color: $text-color-dark;
}

md-input-container.md-default-theme .md-input, md-input-container .md-input {
  border-color: $text-color-dark;
  color: $text-color-dark;
}
