.stream-list {
  overflow-y: auto;

  .stream-list-item {
    width: 300px;
    height: 280px;
    margin: 8px;
    position: relative;

    .stream-title {
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
    }

    .stream-add-buttons {
      position: absolute;
      top: 0;
      left: 0;
      padding: 2px;

      .stream-add-button {
        background-color: #e7e7e7;
        border-radius: 5px;
        padding: 2px;
        margin: 2px;
        cursor: move;
      }
    }
  }
}
