.stream-list {
  overflow-y: auto;

  .stream-list-item {
    width: 300px;
    height: 280px;
    margin: 8px;
    position: relative;

    img.stream-preview {
      width: 300px;
    }

    .stream-title {
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
    }

    .stream-add-buttons {
      position: absolute;
      top: 0;
      left: 0;
      padding: 2px;

      .stream-add-button {
        background-color: #e7e7e7;
        border-radius: 5px;
        padding: 2px;
        margin: 2px;
        cursor: move;
      }
    }

    .chat-adder {
      span.chat-adder-label {
        font-size: 20px;
        min-width: 24px;
        text-align: center;
        display: inline-block;
      }
    }
  }
}

.settings-dialog {
  width: 70%;
  min-height: 50%;

  .settings-row {
    min-width: 400px;
    padding-right: 50px;

    label {
      width: 200px;
    }
  }

  .settings-mod-button {
    margin-bottom: 8px;

    .drag-handle {
      cursor: move;
    }

    md-input-container.dropdown {
      min-width: 150px;
      max-width: 150px;
      width: 150px;
    }

    .settings-mod-button-setting-complex {
      min-width: 400px;
      margin-right: 20px;
    }

    .settings-mod-button-setting-simple {
      min-width: 300px;
      margin-right: 20px;
    }

    .settings-mod-button-setting-very-simple {
      min-width: 100px;
      margin-right: 20px;
    }

    md-input-container.text-input {
      width: 90%;
    }
  }

  md-content {
    overflow-x: hidden;
  }
}


.icon-code-select {

  md-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 300px;
  }

  md-icon {
    color: inherit;
  }
}
