@import '../../node_modules/angular-material/angular-material.scss';
@import '../../node_modules/golden-layout/src/css/goldenlayout-base.css';
@import './variables.scss';
@import './chat.scss';
@import './whispers.scss';
@import './home.scss';

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

body.theme-dark {
  @import '../../node_modules/golden-layout/src/css/goldenlayout-dark-theme';
  @import './dark';
}

body.theme-light {
  @import '../../node_modules/golden-layout/src/css/goldenlayout-light-theme';
  @import './light';
}

iframe {
  width: 100%;
  height: 100%;
}

.compact {
  margin: 0;
  &.md-button {
    padding: 0;
    min-width: 0;
    min-height: 0;
    line-height: 0;
  }
}

md-input-container.compact {
  margin: 0;
  padding: 0;
}

.footer {
  padding: 0 8px;
}

.md-button.md-raised:not([disabled]).loginWithTwitch {
  &,&:hover {
    background-color: hsl(258, 39%, 35%);
  }
}

.md-button.tiny-button {
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
  line-height: 0;
}

.column-reverse {
  flex-direction: column-reverse;
}
