$widget-header: rgb(209,209,209);
$widget-body: rgb(240,240,240);
$page-body: rgb(245,245,245);
$page-body-dark: hsl(0, 0%, 13%);
$widget-body-dark: hsl(0, 0%, 20%);
$text-color-dark: rgb(218, 216, 222);
