.whisper-window {
  height: 100%;
}

.whisper-user-list, .whisper-content {
  max-height: 100%;
  min-width: 250px;
  overflow-y: auto;
  .whisper-user-name {
    font-weight: bold;
  }
  .whisper-unread-count {
    padding: 2px 10px;
    border-radius: 20px;
    background-color: black;
  }
  .chat-line-time {
    color: rgba(0, 0, 0, 0.7);
    font-size: small;
  }
}

.whisper-user-list {
  max-width: 50%;
  width: 500px;

  .md-list-item-text {
    max-width: calc(100% - 56px);
  }
}

.whisper-lines-wrapper {
  overflow-y: auto;
  line-height: 1.5;
}

.whisper-last-message, .whisper-user-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  .emote {
    max-height: 1em;
    vertical-align: middle;
  }
}

.whisper-text {
  line-height: 1.5;
  img.emote {
    vertical-align: middle;
    margin: -1em 0 -1em 0;
  }
}

md-toast.whisper-toast .md-toast-content {
  max-width: 400px;
}

.whisper-date, .whisper-header-name {
  text-align: center;
}

.whisper-toast-message-user-name {
  font-weight: bold;
}

.whisper-toast-message-header {
  font-size: large;
  img.emote {
    vertical-align: middle;
    margin: -1em 0 -1em 0;
  }
}

.whisper-toast-text {
  padding: 8px;
}

.whisper-toast-profile-pic {
  height: 50px;
}
